In [1]:
# Import Main Dependencies
import pandas as pd
import json
import requests
from pprint import pprint
import datetime as dt

# Import credentials string for PostgreSQL database access
from config import credentials

# Library and methods to connect and interact with database
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker

# Getting Lobbyist Data using API calls

In [11]:
# API Call 1:  City of Chicago Lobbyist, Employer, Client Combinations Dataset

# save endpoint url (Limit to one record)
url = 'https://data.cityofchicago.org/resource/2eqz-3nvz.json?$limit=1'

# save endpoint response in json format
api_response = requests.get(url).json()

# inspect data for one record
pprint(json.dumps(api_response, indent=4, sort_keys=True))

('[\n'
 '    {\n'
 '        "client_id": "45323",\n'
 '        "client_name": "SDI PRESENCE LLC",\n'
 '        "employer_id": "19781",\n'
 '        "employer_name": "CROWZNEST CONSULTING, INC.",\n'
 '        "lobbyist_first_name": "DONALD",\n'
 '        "lobbyist_id": "11901",\n'
 '        "lobbyist_last_name": "ZOUFAL",\n'
 '        "lobbyist_middle_initial": "R",\n'
 '        "lobbyist_salutation": "MR.",\n'
 '        "year": "2023"\n'
 '    }\n'
 ']')

In [12]:
# API Call 1: Get full dataset

# save endpoint url - all records
url = 'https://data.cityofchicago.org/resource/2eqz-3nvz.json?$limit=5000'

# save endpoint response in json format
api_full_response = requests.get(url).json()

#pprint(json.dumps(api_full_response, indent=4, sort_keys=True))

In [17]:
# API Call 1: loop and store response

#Creating empty list to store response
lobbyist_combo_list = []

#looping through all api response to extract fields 
for lobbyist_record in api_full_response:
    
    #try/except logic to avoid errors
    try:
        client_id = lobbyist_record['client_id']
        client_name = lobbyist_record['client_name']
        employer_id = lobbyist_record['employer_id']
        employer_name = lobbyist_record['employer_name']
        lobbyist_first_name = lobbyist_record['lobbyist_first_name']
        lobbyist_id = lobbyist_record['lobbyist_id']
        lobbyist_last_name = lobbyist_record['lobbyist_last_name']
        lobbyist_middle_initial = lobbyist_record['lobbyist_middle_initial']
        lobbyist_salutation = lobbyist_record['lobbyist_salutation']
        year = lobbyist_record['year']
    
    except:
        #print(f'found empty data for lobbyist name {lobbyist_last_name}')
        pass
        
    
    #print(lobbyist_last_name)
    
    # adding extracted data into python list 
    lobbyist_combo_list.append({"client_id" : client_id,
                        "client_name" : client_name,
                        "employer_id": employer_id,
                        "employer_name" : employer_name,
                        "lobbyist_first_name" : lobbyist_first_name,
                        "lobbyist_id" : lobbyist_id,
                        "lobbyist_last_name": lobbyist_last_name,
                        "lobbyist_middle_initial" : lobbyist_middle_initial,
                        "lobbyist_salutation" : lobbyist_salutation,
                        "year" : year,
                        })
    
print("Data Retrieval Complete")

Data Retrieval Complete and stored in python list

In [18]:
# API Call 2: Contributions Dataset

# save endpoint url (Limit to one record)
url_two = 'https://data.cityofchicago.org/resource/p9p7-vfqc.json?$limit=1'
    
# save endpoint response in json format
api_response_two = requests.get(url_two).json()

# inspect data for one record
pprint(json.dumps(api_response_two, indent=4, sort_keys=True))

('[\n'
 '    {\n'
 '        "amount": "0",\n'
 '        "contribution_date": "2023-01-26T00:00:00.000",\n'
 '        "contribution_id": "1223522085",\n'
 '        "created_date": "2023-01-26T00:00:00.000",\n'
 '        "lobbyist_first_name": "ISSAC",\n'
 '        "lobbyist_id": "25242",\n'
 '        "lobbyist_last_name": "RIGGS",\n'
 '        "period_end": "2022-12-31T00:00:00.000",\n'
 '        "period_start": "2022-10-01T00:00:00.000",\n'
 '        "recipient": "0"\n'
 '    }\n'
 ']')

In [19]:
# API Call 2: Get full dataset

# save endpoint url - all records
url_two = 'https://data.cityofchicago.org/resource/p9p7-vfqc.json?$limit=10000'

# save endpoint response in json format
api_full_response_two = requests.get(url_two).json()

In [23]:
# API Call 2: loop and store response

# Creating empty list to store response
lobbyist_combo_list_two = []

#looping through all api response to extract fields 
for lobbyist_record in api_full_response_two:
    
    #try/except logic to avoid errors
    try:
        contribution_id = lobbyist_record['contribution_id']
        period_start = lobbyist_record['period_start']
        period_end = lobbyist_record['period_end']
        contribution_date = lobbyist_record['contribution_date']
        recipient = lobbyist_record['recipient']
        amount = lobbyist_record['amount']
        lobbyist_id = lobbyist_record['lobbyist_id']
        lobbyist_first_name = lobbyist_record['lobbyist_first_name']
        lobbyist_last_name = lobbyist_record['lobbyist_last_name']
        created_date = lobbyist_record['created_date']
    
    except:
        print(f'found empty data for lobbyist name {lobbyist_last_name}')
        pass
        
    
    #print(lobbyist_last_name)
    
    # adding extracted data into python list 
    lobbyist_combo_list_two.append({"contribution_id" : contribution_id,
                        "period_start" : period_start,
                        "period_end": period_end,
                        "contribution_date" : contribution_date,
                        "recipient" : recipient,      
                        "amount" : amount,
                        "lobbyist_id" : lobbyist_id,      
                        "lobbyist_first_name" : lobbyist_first_name,
                        "lobbyist_last_name": lobbyist_last_name,
                        "created_date" : created_date,
                       
                        })
    
print("Data Retrieval Complete")

Data Retrieval Complete and stored in python list

In [29]:
#API Call 3: Compensation Dataset

# save endpoint url (Limit to one record)
url = 'https://data.cityofchicago.org/resource/dw2f-w78u.json?$limit=1'

# save endpoint response in json format
api_response = requests.get(url).json()

# inspect data for one record
pprint(json.dumps(api_response, indent=4, sort_keys=True))

('[\n'
 '    {\n'
 '        "client_id": "498976702",\n'
 '        "client_name": "ANHEUSER BUSCH COMPANIES",\n'
 '        "compensation_amount": "15000",\n'
 '        "compensation_id": "1473879510",\n'
 '        "created_date": "2023-01-30T00:00:00.000",\n'
 '        "lobbyist_first_name": "TERRY",\n'
 '        "lobbyist_id": "3912",\n'
 '        "lobbyist_last_name": "GABINSKI",\n'
 '        "lobbyist_middle_initial": "M",\n'
 '        "period_end": "2023-03-31T00:00:00.000",\n'
 '        "period_start": "2023-01-01T00:00:00.000"\n'
 '    }\n'
 ']')

In [30]:
# API Call 3: Get full dataset

# save endpoint url - all records
url = 'https://data.cityofchicago.org/resource/dw2f-w78u.json?$limit=30000'

# save endpoint response in json format
api_full_response = requests.get(url).json()

# pprint(json.dumps(api_full_response, indent=4, sort_keys=True))

In [31]:
# API Call 3: loop and store response

# Creating empty list to store response
compensation_list = []

err_num = 0

#looping through all api data to extract fields
for compensation_record in api_full_response:
   
    #try/except logic to avoid errors
    try:
        client_id = compensation_record['client_id']
        client_name = compensation_record['client_name']
        compensation_amount = compensation_record['compensation_amount']
        compensation_id = compensation_record['compensation_id']
        lobbyist_first_name = compensation_record['lobbyist_first_name']
        lobbyist_id = compensation_record['lobbyist_id']
        lobbyist_last_name = compensation_record['lobbyist_last_name']
        lobbyist_middle_initial = compensation_record['lobbyist_middle_initial']
        period_end = compensation_record['period_end']
        period_start = compensation_record['period_start']
       
    except:
        # print(f'found empty data for compensation ID {compensation_id}')
        err_num = err_num + 1
        pass
   
    # adding extracted data into python list
    compensation_list.append({"client_id" : client_id,
                        "client_name" : client_name,
                        "compensation_amount": compensation_amount,
                        "compensation_id" : compensation_id,
                        "lobbyist_first_name" : lobbyist_first_name,
                        "lobbyist_id" : lobbyist_id,
                        "lobbyist_last_name": lobbyist_last_name,
                        "lobbyist_middle_initial" : lobbyist_middle_initial,
                        "period_end" : period_end,
                        "period_start" : period_start,
                        })
   
print(f"Data Retrieval Complete. {err_num} records had some missing data")

Data Retrieval Complete. 11466 records had some missing data

In [32]:
#API Call 4: Lobbyist Dataset

# save endpoint url (Limit to one record)
url = 'https://data.cityofchicago.org/resource/tq3e-t5yq.json?$limit=1'

# save endpoint response in json format
api_packed_response = requests.get(url).json()

# inspect data for one record
pprint(json.dumps(api_packed_response, indent=4, sort_keys=True))

('[\n'
 '    {\n'
 '        "address_1": "6969 W WABANSIA AVE",\n'
 '        "city": "CHICAGO",\n'
 '        "country": "United States",\n'
 '        "created_date": "2021-02-03T00:00:00.000",\n'
 '        "email": "Pericles@UChicago.edu",\n'
 '        "employer_id": "2281637536",\n'
 '        "employer_name": "THE PERICLES ORGANIZATION",\n'
 '        "fax": "(773) 309-8884",\n'
 '        "first_name": "PERICLES",\n'
 '        "last_name": "ABBASI",\n'
 '        "lobbyist_id": "18883",\n'
 '        "phone": "(773) 368-5423",\n'
 '        "salutation": "MR.",\n'
 '        "state": "IL",\n'
 '        "year": "2021",\n'
 '        "zip": "60707"\n'
 '    }\n'
 ']')

In [34]:
# API Call 4: Get full dataset

# save endpoint url - all records
url = 'https://data.cityofchicago.org/resource/tq3e-t5yq.json?$limit=5000'

# save endpoint response in json format
api_packed_response = requests.get(url).json()

In [35]:
# API Call 4: loop and store response

# Creating empty list to store response
lobby_record_list = []

# looping through all api data to extract fields
for lobby_record in api_packed_response:
    
    #try/except logic to avoid errors
    try:
        address_1 = lobby_record['address_1']
        city = lobby_record['city']
        country = lobby_record['country']
        created_date = lobby_record['created_date']
        email = lobby_record['email']
        employer_id = lobby_record['employer_id']
        employer_name = lobby_record['employer_name']
        fax = lobby_record['fax']
        first_name = lobby_record['first_name']
        last_name = lobby_record['last_name']
        lobbyist_id = lobby_record['lobbyist_id']
        phone = lobby_record['phone']
        salutation = lobby_record['salutation']
        state =  lobby_record['state']
        year = lobby_record['year']
        zip = lobby_record['zip']
                       
    except:
        #print(f'found empty data for lobbyist name {last_name}')
        pass
        
    # adding extracted data into python list
    lobby_record_list.append({"address_1" : address_1,
                              "city" : city,
                              "country" : country,
                              "created_date" : created_date,
                              "email" : email,
                              "employer_id" : employer_id,
                              "employer_name" : employer_name,
                              "fax" : fax,
                              "first_name" : first_name,
                              "last_name":  last_name,
                              "lobbyist_id" : lobbyist_id,
                              "phone": phone,
                              "salutation": salutation,
                              "state": state,
                              "year" : year,
                              "zip" : zip                        
                            })

print("Data Retrieval Complete")

# inspect counts
# convert numeric types to int
# verify data types were converted to int

Data Retrieval Complete

# Creating Dataframes for all Lobbyist datasets

## Lobbyists Dataframe

In [41]:
# create Lobbyist dataframe 
lobby_record_df = pd.DataFrame(lobby_record_list)
lobby_record_df.head()

,address_1,city,country,created_date,email,employer_id,employer_name,fax,first_name,last_name,lobbyist_id,phone,salutation,state,year,zip
0,6969 W WABANSIA AVE,CHICAGO,United States,2021-02-03T00:00:00.000,Pericles@UChicago.edu,2281637536,THE PERICLES ORGANIZATION,(773) 309-8884,PERICLES,ABBASI,18883,(773) 368-5423,MR.,IL,2021,60707
1,6969 W WABANSIA AVE,CHICAGO,United States,2020-08-07T00:00:00.000,Pericles@UChicago.edu,2281637536,THE PERICLES ORGANIZATION,(773) 309-8884,PERICLES,ABBASI,18883,(773) 368-5423,MR.,IL,2020,60707
2,6969 W WABANSIA AVE,CHICAGO,United States,2020-01-21T00:00:00.000,Pericles@UChicago.edu,2281637536,THE PERICLES ORGANIZATION,(773) 309-8884,PERICLES,ABBASI,18883,(773) 368-5423,MR.,IL,2020,60707
3,6969 W WABANSIA AVE,CHICAGO,United States,2018-12-12T00:00:00.000,Pericles@UChicago.edu,2281637536,THE PERICLES ORGANIZATION,(773) 309-8884,PERICLES,ABBASI,18883,(773) 368-5423,MR.,IL,2020,60707
4,6969 W WABANSIA AVE,CHICAGO,United States,2017-10-03T00:00:00.000,Pericles@UChicago.edu,1943791033,PERICLES.ORG,(773) 309-8884,PERICLES,ABBASI,18883,(773) 368-5423,MR.,IL,2020,60707

## Contributions Dataframe

In [24]:
# create Contributions dataframe 
lobbyist_combo_df_two = pd.DataFrame(lobbyist_combo_list_two)
lobbyist_combo_df_two.head()

,contribution_id,period_start,period_end,contribution_date,recipient,amount,lobbyist_id,lobbyist_first_name,lobbyist_last_name,created_date
0,1223522085,2022-10-01T00:00:00.000,2022-12-31T00:00:00.000,2023-01-26T00:00:00.000,0,0,25242,ISSAC,RIGGS,2023-01-26T00:00:00.000
1,2211044450,2022-10-01T00:00:00.000,2022-12-31T00:00:00.000,2023-01-13T00:00:00.000,JESSICA GUTIERREZ FOR ALDERPERSON,500,24632,JUAN,CALDERON CUZA,2023-01-25T00:00:00.000
2,2693378230,2022-10-01T00:00:00.000,2022-12-31T00:00:00.000,2023-01-08T00:00:00.000,GREG MITCHELL,500,13761,MICHAEL,AXELROD,2023-01-08T00:00:00.000
3,2647888166,2022-10-01T00:00:00.000,2022-12-31T00:00:00.000,2022-12-31T00:00:00.000,FRIENDS OF RONNIE MOSLEY,500,18181,JOHN,DALEY,2023-01-19T00:00:00.000
4,1715160815,2022-10-01T00:00:00.000,2022-12-31T00:00:00.000,2022-12-31T00:00:00.000,NONE,0,3979,JOHN,SUZUKI,2023-01-17T00:00:00.000

In [25]:
# inspect Contributions dataframe counts
lobbyist_combo_df_two.count()

contribution_id        5642
period_start           5642
period_end             5642
contribution_date      5642
recipient              5642
amount                 5642
lobbyist_id            5642
lobbyist_first_name    5642
lobbyist_last_name     5642
created_date           5642
dtype: int64

In [26]:
# inspect Contributions dataframe data types
lobbyist_combo_df_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5642 entries, 0 to 5641
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   contribution_id      5642 non-null   object
 1   period_start         5642 non-null   object
 2   period_end           5642 non-null   object
 3   contribution_date    5642 non-null   object
 4   recipient            5642 non-null   object
 5   amount               5642 non-null   object
 6   lobbyist_id          5642 non-null   object
 7   lobbyist_first_name  5642 non-null   object
 8   lobbyist_last_name   5642 non-null   object
 9   created_date         5642 non-null   object
dtypes: object(10)
memory usage: 440.9+ KB

In [27]:
# convert Contributions dataframe numeric types to int
lobbyist_combo_df_two['contribution_id'] = lobbyist_combo_df_two['contribution_id'].astype('int64')
lobbyist_combo_df_two['amount'] = lobbyist_combo_df_two['amount'].astype(float)
lobbyist_combo_df_two['lobbyist_id'] = lobbyist_combo_df_two['lobbyist_id'].astype('int64')

In [28]:
# inspect Contributions dataframe data types
lobbyist_combo_df_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5642 entries, 0 to 5641
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   contribution_id      5642 non-null   int64
 1   period_start         5642 non-null   object
 2   period_end           5642 non-null   object
 3   contribution_date    5642 non-null   object
 4   recipient            5642 non-null   object
 5   amount               5642 non-null   float64
 6   lobbyist_id          5642 non-null   int64
 7   lobbyist_first_name  5642 non-null   object
 8   lobbyist_last_name   5642 non-null   object
 9   created_date         5642 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 440.9+ KB

## Compensation Dataframe

In [36]:
# Create compensation dataframe
compensation_df = pd.DataFrame(compensation_list)
compensation_df.head()

,client_id,client_name,compensation_amount,compensation_id,lobbyist_first_name,lobbyist_id,lobbyist_last_name,lobbyist_middle_initial,period_end,period_start
0,498976702,ANHEUSER BUSCH COMPANIES,15000,1473879510,TERRY,3912,GABINSKI,M,2023-03-31T00:00:00.000,2023-01-01T00:00:00.000
1,2897163206,HUNTINGTON NATIONAL BANK,2500,405903052,STEVE,17521,ABBEY,M,2023-03-31T00:00:00.000,2023-01-01T00:00:00.000
2,1284158516,"CLEAR CHANNEL OUTDOOR, LLC",263.62,4150174990,JON,24967,ABELN,M,2023-03-31T00:00:00.000,2023-01-01T00:00:00.000
3,3647804913,BLOUNTS & MOORE LLC,8000,245680987,ROLANDO,3845,ACOSTA,R,2022-12-31T00:00:00.000,2022-10-01T00:00:00.000
4,3800662852,URUAPAN PROPERTIES LLC,4000,1144290406,ROLANDO,3845,ACOSTA,R,2022-12-31T00:00:00.000,2022-10-01T00:00:00.000

In [37]:
# Compensation Dataframe date formatting
compensation_df['period_end'] = pd.to_datetime(compensation_df['period_end'])
compensation_df['period_start'] = pd.to_datetime(compensation_df['period_start'])
compensation_df['period_end'] = compensation_df['period_end'].dt.strftime('%m/%d/%y')
compensation_df['period_start'] = compensation_df['period_start'].dt.strftime('%m/%d/%y')


compensation_df.head()

,client_id,client_name,compensation_amount,compensation_id,lobbyist_first_name,lobbyist_id,lobbyist_last_name,lobbyist_middle_initial,period_end,period_start
0,498976702,ANHEUSER BUSCH COMPANIES,15000,1473879510,TERRY,3912,GABINSKI,M,03/31/23,01/01/23
1,2897163206,HUNTINGTON NATIONAL BANK,2500,405903052,STEVE,17521,ABBEY,M,03/31/23,01/01/23
2,1284158516,"CLEAR CHANNEL OUTDOOR, LLC",263.62,4150174990,JON,24967,ABELN,M,03/31/23,01/01/23
3,3647804913,BLOUNTS & MOORE LLC,8000,245680987,ROLANDO,3845,ACOSTA,R,12/31/22,10/01/22
4,3800662852,URUAPAN PROPERTIES LLC,4000,1144290406,ROLANDO,3845,ACOSTA,R,12/31/22,10/01/22

In [38]:
# Compensation Dataframe Inspect counts
compensation_df.count()

client_id                  29917
client_name                29917
compensation_amount        29917
compensation_id            29917
lobbyist_first_name        29917
lobbyist_id                29917
lobbyist_last_name         29917
lobbyist_middle_initial    29917
period_end                 29917
period_start               29917
dtype: int64

In [ ]:
# Compensation Dataframe Inspect datatypes
compensation_df.info()

In [ ]:
# Compensation Dataframe update datatypes
compensation_df['compensation_amount'] = compensation_df['compensation_amount'].astype(float)

## Lobbyist, Client and Employer Relationship Dataframe

In [39]:
# Create lobbyist combo dataframe 
lobbyist_combo_df = pd.DataFrame(lobbyist_combo_list)
lobbyist_combo_df.head()

,client_id,client_name,employer_id,employer_name,lobbyist_first_name,lobbyist_id,lobbyist_last_name,lobbyist_middle_initial,lobbyist_salutation,year
0,45323,SDI PRESENCE LLC,19781,"CROWZNEST CONSULTING, INC.",DONALD,11901,ZOUFAL,R,MR.,2023
1,51164,EQUALITY ILLINOIS,26381,EQUALITY ILLINOIS,MICHAEL,25743,ZIRI,P,MR.,2023
2,12441,NORTHWESTERN MEMORIAL HOSPITAL,25481,NORTHWESTERN MEMORIAL HEALTHCARE,SCOTT,4039,ZIOMEK,A,MR.,2023
3,48840,"STARSHIP TECHNOLOGIES, INC.",25920,"STARSHIP TECHNOLOGIES, INC.",AILEEN,26843,ZHONG,A,MR.,2023
4,47399,AMERICAN AIRLINES,24938,AMERICAN AIRLINES,YUHONG,16801,ZHANG,A,MS.,2023

In [40]:
# inspect counts
lobbyist_combo_df.count()

client_id                  5000
client_name                5000
employer_id                5000
employer_name              5000
lobbyist_first_name        5000
lobbyist_id                5000
lobbyist_last_name         5000
lobbyist_middle_initial    5000
lobbyist_salutation        5000
year                       5000
dtype: int64

In [ ]:
# inspect data types
lobbyist_combo_df.info()

In [ ]:
# convert numeric types to int
lobbyist_combo_df['client_id'] = lobbyist_combo_df['client_id'].astype(int)
lobbyist_combo_df['employer_id'] = lobbyist_combo_df['employer_id'].astype(int)
lobbyist_combo_df['lobbyist_id'] = lobbyist_combo_df['lobbyist_id'].astype(int)
lobbyist_combo_df['year'] = lobbyist_combo_df['year'].astype(int)

In [ ]:
# verify data types were converted to int
lobbyist_combo_df.dtypes

In [ ]:
#EXAMPLES
# check for duplicates (example only)
# print(lobbyist_combo_df.count())
# lobbyist_combo_df['lobbyist_id'].duplicated()
# lobbyist_combo_df['lobbyist_id'].duplicated().sum()
# drop unnecessary columns example
#lobbyist_combo_df = lobbyist_combo_df.drop('lobbyist_id', axis=1)

In [ ]:
# CONNECT TO POSTGRESQL DATABASE

# create connection string for accessing PostgreSQL database
conn_string = f"postgresql://{credentials}@localhost:5432/lobbyist_db"

In [ ]:
# Create sqlalchemy engine using connection string
engine = create_engine(conn_string)
conn = engine.connect()

In [ ]:
# Create a dictionary for bulk insert
bulk_insert_dict = lobbyist_combo_df.to_dict(orient='records')
bulk_insert_dict

In [ ]:
# SAMPLE writing to file
# with open("sample.json", "w") as outfile:
#     json.dump(bulk_insert_dict, outfile)

In [ ]:
# Connect to the lobbyist_employer_client_rel table
table_name = 'lobbyist_employer_client_rel'
table_name2 = 'lobbyist_contribution'
table_name3 = 'compensation'

metadata = sqlalchemy.schema.MetaData(bind=engine)

table1 = sqlalchemy.Table(table_name, metadata, autoload=True)
table2 = sqlalchemy.Table(table_name2, metadata, autoload=True)
table3 = sqlalchemy.Table(table_name3, metadata, autoload=True)

In [ ]:
# start session
Session = sessionmaker(bind=engine)

In [ ]:
#Table 1
# Bulk Insert the dataframe into the database table

with Session() as session:
    lobbyist_combo_df.to_sql(table_name, con=conn, if_exists='append', index=False)

In [ ]:
#Table 2
# Bulk Insert the dataframe into the database table

with Session() as session:
    lobbyist_combo_df_two.to_sql(table_name2, con=conn, if_exists='append', index=False)

In [ ]:
#Table 3
# Bulk Insert the dataframe into the database table

with Session() as session:
    compensation_df.to_sql(table_name3, con=conn, if_exists='append', index=False)

In [ ]:
# Commit the changes
session.commit()

# close session
session.close()

# close connection
conn.close()